.add-expense-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

li{
    margin-right: 30px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 25px;
    text-decoration-style: none;
    border-radius: 25px;
    background: green;
}

a {
  text-decoration: none;
  background-color: inherit;
  color: white;
  font-weight: bold;
}